
 #busqueda{ margin-left: 900px;
			}
 #nombre{ margin-left: 38px; }
 #email { margin-left: 52px; }
 #telefono{ margin-left: 32px; }
 #comentarios { margin-left: 10px; }

.buttons { margin-top: 14px; }
	
.buttons a {


    display: inline-block;
    position: relative;
    line-height: 20px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
   
}

.facebook img {
	width: 60px;
    height: 60px;
	display: inline-block;
    position: relative;
}
	
#centro	
{
    padding: 15px 15px;
    border: 2px solid #fff;
    color: #1A437F;
    background-color: #eaeaea;
    background-image: linear-gradient(top, #eaeaea, #fff);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset,
                0 0 1px 0 rgba(0, 0, 0, .2),
                0 2px 2px rgba(0, 0, 0, .3),
                0 10px 10px -5px rgba(0, 0, 0, .2);
	width: 1168px;
	height: 500px;
}

#centro
{
    padding: 15px 15px;
    border: 2px solid #fff;
    color: #1A437F;
    background-color: #eaeaea;
    background-image: linear-gradient(top, #eaeaea, #fff);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset,
                0 0 1px 0 rgba(0, 0, 0, .2),
                0 2px 2px rgba(0, 0, 0, .3),
                0 10px 10px -5px rgba(0, 0, 0, .2);
	width: 1168px;
	height: 500px;
}

#header{
width: 1170px;
height: 200px;
background-image:url(../images/coolLogo.png);
background-repeat: no-repeat;
}

#info_contact{
width: 1000px;
height: 50px;
}


h4{
color: white;
}

h5{
color: white;
}

h5 a{
color: white;
}