#circular {
	width: 60px;
	height: 60px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(images/facebook.png)no-repeat;*/
	}

#centro	
{
    border-width: 1px;
    border-style:solid;
    border-color:#BDBDBD;
	width: 1200px;
	height: 400px;
}
