* { padding: 0; margin: 0; }

p{
    text-align: center;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}



#columnaizq { 
 color: #333;
 background: #F2F2E6;
 border: 1px solid #ccc;
 margin: 30px 5px 5px 20px;
 padding: 10px;
 height: 420px;
 width: 550px;
 float: left;
}

#central { 
 float: left;
 color: #333;
 border: 1px solid #ccc;
 background: #F2F2E6;
 margin: 30px 0px 5px 0px;
 padding: 10px;
 height: 420px;
 width: 550px;
 display: inline;
}

#columnader { 
 color: #333;
 border: 1px solid #ccc;
 background: #F2F2E6;
 margin: 30px 0px 5px 0px;
 padding: 5px;
 height: 420px;
 width: 250px;
 float: right;
}

.boton{
    height: 25px;
    text-align:center;
    width:80px;
}

#listo{   
 width: 80px;
 height: 40px;
}
